{# Make a string like `arg_name: ArgType` #}
{# For `self`, we don't bother specifying the type though #}
{# model: models.LuaFunctionArg #}
{% macro inline_arg(model) -%}
{{ model.name }}{% if model.name != "self" %}: {{ model.type_name }}{% endif %}
{%- endmacro %}

{# model: models.LuaFunction #}
{% macro function(model) %}
.. lua:function:: {{ model.name }}({% for arg in model.args %}{{ inline_arg(arg) }}{% if not loop.last %}, {% endif %}{% endfor %}){% if model.returns|length > 0 %} -> {% for ret in model.returns %}{{ ret.type_name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}

   {{ model.description|indent(3) }}

{% for arg in model.args %}
   {% if arg.name != "self" %}
   :param {{ arg.name }}: {{ arg.description }}
   :type {{ arg.name }}: {{ arg.type_name }}
   {% endif %}
{% endfor %}

{% if model.returns|length > 0 %}
   {% if model.returns[0].description is not none %}:return: {{ model.returns[0].description }}{% endif %}
{% endif %}
{% for ret in model.returns %}
   :rtype: {{ ret.type_name }}
{% endfor %}
{% endmacro %}

{# type_names: list[str] #}
{% macro types(type_names) -%}
{% for type_name in type_names %}{{ type_name }}{% if not loop.last %} | {% endif %}{% endfor %}
{%- endmacro %}

{# model: models.LuaVariable #}
{% macro variable(model) %}
.. lua:attribute:: {{ model.name }}: {{ types(model.type_names) }}

   {{ model.description|indent(3) }}
{% endmacro %}

{# model: models.LuaClass #}
{% macro class(model) %}
{# TODO: Show inheritance #}
.. lua:class:: {{ model.name }}

   {# Variable summaries #}
   {% if model.has_non_private_variables() %}
   .. list-table::
      :header-rows: 1
      :widths: 30 70
      :width: 100%

      * - Field
        - Description

      {% for var in model.variables %}
      {% if not var.is_private() %}
      {# TODO: :lua:attr: doesn't seem to link #}
      * - :lua:attr:`{{ var.name }} <{{ model.name }}.{{ var.name }}>`: {{ types(var.type_names) }}
        - {{ var.short_description }}
      {% endif %}
      {% endfor %}
   {% endif %}

   {# Function summaries #}
   {% if model.has_non_private_functions() %}
   .. list-table::
      :header-rows: 1
      :widths: 30 70
      :width: 100%

      * - Function
        - Description

      {% for func in model.functions %}
      {% if not func.is_private() %}
      * - :lua:meth:`{{ func.name }}({% for arg in func.args %}{{ arg.name }}{% if not loop.last %}, {% endif %}{% endfor %}) <{{ model.name }}.{{ func.name }}>`
        - {{ func.short_description }}
      {% endif %}
      {% endfor %}
   {% endif %}

{% for var in model.variables %}
   {% if not var.is_private() %}{{ variable(var)|indent(3) }}{% endif %}
{% endfor %}

{% for func in model.functions %}
   {% if not func.is_private() %}{{ function(func)|indent(3) }}{% endif %}
{% endfor %}
{% endmacro %}

{# model: models.LuaModule #}
{% macro module(model) %}
.. lua:module:: {{ model.name }}

.. code-block:: lua

  local {{ model.last_name_component() }} = require("{{ model.name }}")

{# Class summaries #}
{% if model.classes|length > 0 %}
.. list-table::
   :header-rows: 1
   :widths: 30 70
   :width: 100%

   * - Class
     - Description

   {% for cls in model.classes %}
   * - :lua:class:`{{ cls.name }}`
     - {{ cls.short_description }}
   {% endfor %}
{% endif %}

{# Variable summaries #}
{% if model.has_non_private_variables() %}
.. list-table::
   :header-rows: 1
   :widths: 30 70
   :width: 100%

   * - Field
     - Description

   {% for var in model.variables %}
   {% if not var.is_private() %}
   {# TODO: :lua:attr: doesn't seem to link #}
   * - :lua:attr:`{{ var.name }} <{{ model.name }}.{{ var.name }}>`: {{ types(var.type_names) }}
     - {{ var.short_description }}
   {% endif %}
   {% endfor %}
{% endif %}

{# Function summaries #}
{% if model.has_non_private_functions() %}
.. list-table::
   :header-rows: 1
   :widths: 30 70
   :width: 100%

   * - Function
     - Description

   {% for func in model.functions %}
   {% if not func.is_private() %}
   * - :lua:meth:`{{ func.name }}({% for arg in func.args %}{{ arg.name }}{% if not loop.last %}, {% endif %}{% endfor %}) <{{ model.name }}.{{ func.name }}>`
     - {{ func.short_description }}
   {% endif %}
   {% endfor %}
{% endif %}

{# Re-exports #}
{% if model.re_exports|length > 0 %}
.. list-table::
   :header-rows: 1
   :widths: 30 70
   :width: 100%

   * - Re-export
     - Description

   {% for re_export in model.re_exports %}
   {# TODO: We need the module path, like, for this to link trombx.notefield.mod.core.{{ re_export.name }} #}
   * - :lua:class:`{{ re_export.name }}`
     - {{ re_export.short_description }}
   {% endfor %}
{% endif %}

{% for cls in model.classes -%}
{{ class(cls) }}
{%- endfor %}

{% for var in model.variables %}
{% if not var.is_private() %}{{ variable(var) }}{% endif %}
{% endfor %}

{% for func in model.functions %}
{{ function(func) }}
{% endfor %}
{% endmacro %}
