/* Add a box around method and class names */
.method > dt, .staticmethod > dt, .attribute > dt, .function > dt, .class > dt {
  background-color: #D8DEE3;
  padding-left: 8px;
}
/* Add a border to the left of the definition, to make it easier to see where definitions end */
.method, .staticmethod, .attribute, .function, .class {
  border-left: 2px solid rgb(0, 91, 129);
}

/* Make method short descriptions slightly bigger */
.method > dd > p:first-child, .attribute > dd > p:first-child, .function > dd > p:first-child {
  font-size: medium;
}

/* Make the top/bottom bars blue, with white links */
div.related {
  background-color: rgb(0, 91, 129);;
}
div.related a {
  color: #FFFFFF;
}

/* Make tables take up the full width of their container */
dd > table, .section > table {
  width: 100%;
}

/* Center main content, and make the max width wider */
div.body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

thead {
  background-color: #D8DEE3;
}
